#user {
  border-color: black;
  border-style: solid;
  padding-bottom: 40px;
  width: 65%;
  margin: 0;
}

#user-pic {
  float: left;
  padding: 50px;
  margin: 0%;
}

#user1 {
  font-size: medium;
}

#user2 {
  font-size: small;
}

#user3 {
  font-size: x-small;
}
