body {
  font-family: sans-serif;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5% 30% 65%;
}

.navBar {
  display: grid;
  grid-template-rows: .5fr 1fr .5fr;
  align-items: baseline;
  justify-content: right;
  background-color: skyblue;
}

.navBar button {
  grid-row: 2;
  margin-left: 5%;
  margin-right: 5%;
}

.userProfile {
  display: grid;
  border: 2px solid black;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 3fr 1fr;
  margin: 5%;
}

.posts {
  display: grid;
  padding: 5%;
  margin: 5%;
  grid-row: 2;
  margin-top: 75px;
}

.posts h4 {
  text-align: center;
}

.post {
  padding: 3%;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

.contacts {
  margin: 5%;
  grid-column: 2;
  grid-row: 2 / span 2;
  border: 2px solid black;
}

.contacts h4:first-child {
  text-align: center;
}

.contactUserCard {
  border: 2px solid black;
  margin: 5%;
}